<!DOCTYPE html>
<html lang="en">

    <%- include("./templates/head.ejs") %>
    
<body>

    <div class="wrapper">
        <%- include("./templates/nav.ejs") %> 

        <div class="about content">
            <h2>About us</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque dolores ullam deserunt repellendus? Repudiandae quibusdam nisi numquam accusamus, minus omnis debitis, perspiciatis officia dolore dolor culpa ex labore optio ad.</p>
            <p>Nobis error fugiat ad dolorum voluptatem, doloremque veritatis laboriosam alias iusto in commodi deleniti fugit. Nisi cupiditate ipsa officiis nemo laudantium provident totam quos ab, vel dolorum eveniet adipisci voluptatem!</p>
            <p>Aliquam, iste molestias. Unde dolorum rerum saepe asperiores ipsum in suscipit cupiditate perspiciatis dignissimos recusandae quia odio doloribus reiciendis voluptate, officia dolorem, natus aliquam, alias est itaque minus vitae repellendus.</p>
        </div>
    
        <%- include("./templates/footer.ejs") %> 
    </div>

</body>
</html>