<nav>
    <div class="site-title">
        <h1><a href="/">Blog Site</a></h1>
        <p>A Net Blog Post</p>
    </div>
    <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>